<ion-header>
  <ion-navbar>
    <ion-title>
      Views
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>
    Want some nice music or video to go to sleep to like white noise? Well boy do I have a surprise for you!
  </p>
  <ion-img width="225" height="225" src="../../assets/imgs/biebs.jpg"></ion-img>
  <ion-row>
    <ion-col>
      <button ion-button color="danger" shape="round" (click)="stopMusic()">
        <ion-icon name="square"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button color="success" shape="round" (click)="playMusic()">
        <ion-icon name="play"></ion-icon>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button color="tertiary" shape="round" (click)="pauseMusic()">
        <ion-icon name="pause"></ion-icon>
      </button>
    </ion-col>
  </ion-row>
  
  <ion-card *ngFor="let video of videos" (click)="playVideo(video)">
    <ion-item>
      <ion-avatar ion-start>
        <img [src]="video.authorIcon" />
      </ion-avatar>
      <h2>{{video.author}}</h2>
    </ion-item>
    <img [src]="video.videoThumbnail" />
    <ion-card-content>
      <ion-card-title>
        {{video.title}}
      </ion-card-title>
      <p>
        {{video.description}}
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
